.segmented-control {
  display: flex;
  align-items: center;
  user-select: none;
  gap: 8px;
  button {
    appearance: none;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--text-secondary);
    opacity: 0.5;
    &.is-active {
      opacity: 1;
    }
  }
}
