.html-preview {
  position: absolute;
  border-radius: 4px;
  z-index: 4;
  resize: none;
  background-color: var(--text-bg);
  color: var(--text-fg);
  line-height: 1.5;
  font-size: 1.1em;
  font-family: monospace;
  overflow: auto;
  border: none;
  left: 1px;
  top: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}
