.title-menu {
  appearance: none;
  box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  line-height: inherit;
  background-color: transparent;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: none;
  padding: 0px;
  margin: 0px;
  color: var(--text-secondary);
  font-size: 12px;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}
