.markdown-preview {
  background: var(--sheet-bg);
  padding: var(--pad-sheet-y) var(--pad-sheet-x);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
@media (max-width: 768px) {
  .markdown-preview {
    --pad-sheet-x: 18px;
    --pad-sheet-y: 18px;
  }
}
