.mobile-toolbar {
  position: fixed;
  right: 4px;
  bottom: 4px;
  z-index: 9999;
  background: var(--bg);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 8px;
  gap: 8px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

html[data-theme='dark'] .mobile-toolbar {
  background: var(--bg);
}
