html,
body {
  background: var(--background-pattern) left top repeat;
  background-color: var(--background-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  line-height: 1.5;
  color: var(--text-color);
  width: 100%;
  height: 100%;
  /* height: -webkit-fill-available;
  min-height: -webkit-fill-available; */
  margin: 0;
  padding: 0;
  interpolate-size: allow-keywords;
}
:root {
  --icon-size: 14px;
  font-size: 14px;
  @media (max-width: 768px) {
    --icon-size: 24px;
    font-size: 16px;
  }
}

html[data-theme='dark'] {
  --background-pattern: none;
  --background-color: rgb(34 34 34);
  --text-fg: rgb(255 255 255 / 75%);
  --text-disabled-fg: rgb(255 255 255 / 35%);
  --text-bg: rgb(41 41 41);
  --text-border: rgb(56 56 56);
  --text-secondary: rgb(255 255 255 / 50%);
}
html[data-theme='light'] {
  --background-pattern: url('./assets/bg.png');
  --background-color: rgb(237, 238, 240);
  --text-fg: #333;
  --text-disabled-fg: #84878c;
  --text-bg: #fff;
  --text-secondary: #84878c;
  --text-border: #ddd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px)
    env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px); */
}
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  gap: 2px;
  max-width: calc(100vw - 16px);
  height: 90vh;
  @media (max-width: 768px) {
    height: calc(100vh);
  }

  header {
    display: flex;
    align-self: stretch;
    align-items: center;
    font-size: 1rem;
    padding-top: 4px;
    .note-name {
      color: var(--text-secondary);
      opacity: 0.5;
      text-decoration: none;
    }
    .save-status {
      margin-left: 24px;
      color: var(--text-secondary);
      opacity: 0;
      transition: opacity 0.5s 0.5s;
      &.is-saving {
        opacity: 0.5;
        transition: opacity 0s;
      }
      &.is-error {
        color: orangered;
      }
    }
    .spacer {
      flex-grow: 1;
    }
  }
  main {
    display: flex;
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 0;

    position: relative;
    &::before,
    &::after,
    > * {
      background-color: var(--text-bg);
      border-radius: 4px;
      border: 1px solid var(--text-border);
      flex-grow: 1;
      flex-shrink: 1;
      min-height: 0;
    }
    &::before {
      content: '';
      display: block;
      inset: 4px 4px -4px 4px;
      position: absolute;
      z-index: 1;
    }
    &::after {
      content: '';
      display: block;
      inset: 2px 2px -2px 2px;
      position: absolute;
      z-index: 2;
    }
    > * {
      z-index: 3;
    }
  }
  footer {
    display: flex;
    align-self: stretch;
    /* height: calc(18px + env(safe-area-inset-bottom, 0px)); */
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    a {
      @media (max-width: 768px) {
        display: none;
      }
      color: var(--text-secondary);
      text-decoration: none;
      font-size: 1rem;
      text-align: center;
      /* margin-top: 12px; */
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }
  }
}

/* html.mobile {
  #app {
    height: calc(100vh - 12px);
    height: -webkit-fill-available;
    max-height: calc(100vh - 12px);
    max-height: -webkit-fill-available;
  }
} */
